# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/

# IDE and Local Development
.vscode/
.idea/
*.swp
*.swo
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dev.bat

# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Backup
server-backup/node_modules/
